.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 120px;

    &__wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 40px;
        &--orange {
            color: #FF6600;
        }
    }

    &__tabs {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        gap: 20px;

        &-item {
            background: #F6F6F6;
            border-radius: 30px;
            width: 100%;
            max-width: 880px;
            height: 349px;
            display: flex;

            &-left {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                gap: 20px;
                margin-top: 60px;
                margin-left: 40px;
            }

            &-row {
                display: flex;
                gap: 30px;
            }

            &-star {
                width: 44px;
                height: 44px;
            }

            &-title {
                font-size: 32px;
                color: #2D2D2D;
            }

            &-text {
                font-size: 24px;
                color: #808080;
                max-width: 466px;
            }
        }
    }
}

@media (max-width: 991px) {
    .about {}
}