.footer {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background: #2D2D2D;
    border-radius: 25px 25px 0px 0px;
    margin-top: 120px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


    }

    &__title {
        font-size: 32px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-size: 24px;
        color: #FFFFFF;
        margin-bottom: 40px;
    }

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;

        &-item {
            list-style: none;
                text-decoration: none;
                color: #808080;
                cursor: pointer;
                font-size: 20px;
                transition: all .4s ease-in-out;

                &:hover {
                    color: #FF6600;
                }
        }
        &-separator {
            color: #808080;
        }
    }
}

@media (max-width: 991px) {
    .footer {
    }
}