@import './blocks/header.scss';
@import './blocks/home.scss';
@import './blocks/about.scss';
@import './blocks/footer.scss';
@import './blocks/modal.scss';
@import './buttons.scss';
@import './general.scss';