.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 82px;
  -webkit-transition: all ease-in-out 1s !important;
  transition: all ease-in-out 1s !important;
  overflow: visible;
  background: #2D2D2D;
  border-radius: 0px 0px 30px 30px;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  max-width: 251px;
  height: 70px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 647px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
.header__nav-item {
  list-style: none;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  font-size: 24px;
}
.header__nav-item a {
  text-decoration: none;
}
.header__nav-item:hover {
  color: #C0C0C0;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 378px;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.header__contacts-tel {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 991px) {
  .header .header__ham-menu {
    height: 29px;
    width: 29px;
    position: relative;
    z-index: 100;
    background: #fff;
    border-radius: 100%;
    padding: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.5px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .header .header__ham-menu span {
    height: 1px;
    width: 100%;
    background: #000;
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
    border-radius: 2px;
  }
  .header .header__ham-menu span:nth-child(1) {
    top: 25%;
  }
  .header .header__ham-menu span:nth-child(2) {
    top: 50%;
  }
  .header .header__ham-menu span:nth-child(3) {
    top: 75%;
  }
  .header .header__ham-menu.active span:nth-child(1) {
    width: 50%;
  }
  .header .header__ham-menu.active span:nth-child(2) {
    width: 75%;
  }
  .header .header__ham-menu.active {
    background: #1B365D;
  }
  .header .header__ham-menu.active span {
    background: #fff;
  }
  .header .header__nav-menu-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .header .header-nav-menu-mob.active {
    visibility: visible;
    height: 100vh;
    opacity: 1;
    margin-top: 82px;
  }
}